<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./home.css">
    <title>Homepage</title>
</head>
<body>
<header>
  <h1>Assignment #2 COMP4545</h1>
</header>    
<nav>
      
      <ul>
        <form action="/logout" method="POST">
            <button type="submit">Log Out</button>
        </form>
      </ul>
    </nav>
  
  <div class="container">
     <h1>WELCOME!!</h1>
  </div>
  <footer>Michael Tandyo, Shreshth Kumar  <a href="https://github.com/Shreshthk1/Assignment_2_Web3">Repo Link</a></footer>
</body>
  </html> 