<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
    <div>
        <p>Welcome to the home page</p>
        <form action="/logout" method="POST">
            <button type="submit">Log Out</button>
        </form>
    </div>
</body>
</html> 