<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="./login.css">
</head>
<body>
    <div class="container">
    <form action="/login" method="POST">
        <div>
            <label for="userName">Email</label>
            <input id="userName" type="email" name="email" required/>
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" type="password" name="password" required/>
        </div> 
        <button type="submit">Log In</button>
    </form>
    </div>
</body>
</html> 